/* reset */

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: #ebe3ff;
}

h1, h2, h3, h4{
    color: #333;
}

p, label{
    color: #444;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
textarea{
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 0;
    width: 400px;
}

.radio{
    display: block;
}


.header{
    padding: 20px;
    height: 160px;
    background-color: #a886ff;
    text-align: center;
}

.header h3{
    color: #f4f4f4;
}

.form-container{
    background-color: #f4f4f4;
    width: 60%;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    top: -62px;
}

.form-header{
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header p{
    color:#a886ff;
    border-bottom: 2px solid #a886ff;
    width: 110px;
    text-align: center;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
}

.form-body{
    padding: 30px;
}

.form-body p{
    margin-top: 15px;
    margin-bottom: 20px;
}

.required-field{
    color: #d10000;
}

.box-input{
    margin-bottom: 35px;
}

.block{
    display: block;
}

.button-sub{
    width: 100px;
    height: 50px;
    margin: 20px;
    background-color: #a886ff;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5;
}

.button-sub:hover{
    background-color: #fff;
    color: #a886ff;
    border-color:#a886ff;
}